.root {
  position: absolute;
  left: 368px;
  top: 29px;
  width: 81px;
  height: 57px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle10 {
  position: absolute;
  left: 0;
  right: 0;
  top: 43.8596%;
  bottom: 0;
  outline: solid 1px #00000080;
  outline-offset: -1px;
  border-radius: 5px;
  background-color: #fff;
}
.H {
  color: #00000080;
  font-size: 16px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 12.3457%;
  right: 67.9012%;
  top: 54.386%;
  bottom: 12.2807%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.time {
  color: #000;
  font-size: 16px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 12.3457%;
  right: 44.4444%;
  top: 0;
  bottom: 66.6667%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
