._4_April._4_April {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: initial;
  height: initial;
}
.mM {
  color: #000;
  font-size: 64px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 64px;
  top: 154px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._4 {
  color: #0000004d;
  font-size: 250px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 8.2873%;
  right: 8.2873%;
  top: 0;
  bottom: 16.6667%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
._20244._20244 {
  position: absolute;
  left: 2.4219%;
  right: 42.8906%;
  top: 30.1683%;
  bottom: 4.2067%;
  width: initial;
  height: initial;
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
}
