.component4.component4 {
  left: 13.9702%;
  right: 83.7053%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
.component35.component35 {
  left: 0.0232%;
  right: 97.6523%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._1 {
  opacity: 0.26;
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component11.component11 {
  left: 30.2417%;
  right: 67.4338%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._12 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 47%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component18.component18 {
  left: 46.5132%;
  right: 51.1623%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._13 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 46%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component25.component25 {
  left: 62.7848%;
  right: 34.8907%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._14 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component5.component5 {
  left: 16.2947%;
  right: 81.3808%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._15 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 47%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component36.component36 {
  left: 2.3477%;
  right: 95.3278%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._16 {
  color: #1e1e1e4d;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component12.component12 {
  left: 32.5662%;
  right: 65.1093%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._17 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 47%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component19.component19 {
  left: 48.8377%;
  right: 48.8377%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._18 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 46%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component26.component26 {
  left: 65.1093%;
  right: 32.5662%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._19 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component6.component6 {
  left: 18.6192%;
  right: 79.0563%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._110 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 47%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component37.component37 {
  left: 4.6722%;
  right: 93.0033%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._111 {
  color: #1e1e1e4d;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component13.component13 {
  left: 34.8907%;
  right: 62.7848%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._112 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component20.component20 {
  left: 51.1623%;
  right: 46.5132%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._113 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 46%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component27.component27 {
  left: 67.4338%;
  right: 30.2417%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._114 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 45%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component7.component7 {
  left: 20.9437%;
  right: 76.7318%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._115 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 47%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component38.component38 {
  left: 6.9967%;
  right: 90.6788%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._116 {
  color: #1e1e1e4d;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component14.component14 {
  left: 37.2152%;
  right: 60.4603%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._117 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 46%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component21.component21 {
  left: 53.4868%;
  right: 44.1887%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._118 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component28.component28 {
  left: 69.7583%;
  right: 27.9172%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._119 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component8.component8 {
  left: 23.2682%;
  right: 74.4073%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._120 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 47%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component39.component39 {
  left: 9.3212%;
  right: 88.3543%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._121 {
  color: #1e1e1e4d;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 45%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component15.component15 {
  left: 39.5397%;
  right: 58.1358%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._122 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 46%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component22.component22 {
  left: 55.8113%;
  right: 41.8642%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._123 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 46%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component29.component29 {
  left: 72.0828%;
  right: 25.5927%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._124 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component32.component32 {
  left: 79.0563%;
  right: 18.6192%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._125 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component9.component9 {
  left: 25.5927%;
  right: 72.0828%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._126 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 47%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component40.component40 {
  left: 11.6457%;
  right: 86.0298%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._127 {
  color: #1e1e1e4d;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component16.component16 {
  left: 41.8642%;
  right: 55.8113%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._128 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component23.component23 {
  left: 58.1358%;
  right: 39.5397%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._129 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 45%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component30.component30 {
  left: 74.4073%;
  right: 23.2682%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._130 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component33.component33 {
  left: 81.3808%;
  right: 16.2947%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._131 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 45%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component10.component10 {
  left: 27.9172%;
  right: 69.7583%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._132 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 48%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component17.component17 {
  left: 44.1887%;
  right: 53.4868%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._133 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component24.component24 {
  left: 60.4603%;
  right: 37.2152%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._134 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 46%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component31.component31 {
  left: 76.7318%;
  right: 20.9437%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._135 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component34.component34 {
  left: 83.7053%;
  right: 13.9702%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._136 {
  color: #1e1e1e;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 46%;
  right: 45%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component322.component322 {
  left: 90.6788%;
  right: 6.9967%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._137 {
  color: #1e1e1e4d;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 47%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component302.component302 {
  left: 86.0298%;
  right: 11.6457%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
.component332.component332 {
  left: 93.0033%;
  right: 4.6722%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._138 {
  color: #1e1e1e4d;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 47%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component312.component312 {
  left: 88.3543%;
  right: 9.3212%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._139 {
  color: #1e1e1e4d;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 47%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component342.component342 {
  left: 95.3278%;
  right: 2.3477%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._140 {
  color: #1e1e1e4d;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 47%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.component343.component343 {
  left: 97.6523%;
  right: 0.0232%;
  top: 1.2195%;
  bottom: 1.2195%;
  width: initial;
  height: initial;
}
._141 {
  color: #1e1e1e4d;
  font-size: 8px;
  font-family: Itim, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 48%;
  right: 47%;
  top: 0;
  bottom: 87.5%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 4302px;
  height: 82px;
  flex-direction: column;
  align-items: flex-start;
}
